<a href="https://colab.research.google.com/github/rtsmapping-yili/rtsmapping/blob/main/Nitze_RTS_polygons.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nitze RTS polygons

In [12]:
!git clone https://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@github.com/rtsmapping-yili/rtsmapping.git

fatal: destination path 'rtsmapping' already exists and is not an empty directory.

In [11]:
!git config --global user.email "rtsmapping@woodwellclimate.org"
!git config --global user.name "Yili Yang"

In [ ]:
!pip install geopandas

read the Nitze polygons

In [7]:
import geopandas as gpd

In [8]:
# Set filepath
fp = "/content/rtsmapping/rtsmapping/data/external/GT_Set_Nitze_etal_2021_TrainingSet_RTS.shp"

In [9]:
# Read file using gpd.read_file()
shapefile = gpd.read_file(fp)

In [10]:
shapefile

                  image_id  ...                                           geometry
0     20180703_192559_1006  ...  POLYGON ((-118.11079 73.07828, -118.11059 73.0...
1     20180703_192559_1006  ...  POLYGON ((-118.13291 73.07658, -118.13243 73.0...
2     20180703_192559_1006  ...  POLYGON ((-118.28436 73.06248, -118.28586 73.0...
3     20180703_192559_1006  ...  POLYGON ((-118.29629 73.06545, -118.29549 73.0...
4     20180703_192559_1006  ...  POLYGON ((-118.26160 73.06889, -118.26025 73.0...
...                    ...  ...                                                ...
2177  20190928_201421_1035  ...  POLYGON ((-133.81795 69.09234, -133.81783 69.0...
2178  20190928_201422_1035  ...  POLYGON ((-133.85434 69.09310, -133.85471 69.0...
2179  20190928_201422_1035  ...  POLYGON ((-133.85225 69.09128, -133.85262 69.0...
2180  20190928_201422_1035  ...  POLYGON ((-133.85418 69.09245, -133.85370 69.0...
2181  20190928_201422_1035  ...  POLYGON ((-133.81895 69.09075, -133.81908 69.0...

[2182 rows x 8 columns]